body { margin: 0; border-radius: 5px;  background-color: #212835;}

#container{
  zoom: 1; 
  position:relative;
  padding-top: 15%;
  padding-left: 14%
}

#splashScreen{
  position: absolute;
  background-color: #161a22;
  left: 15%;

  padding-bottom: 85px;
}

#splashScreen img{
  z-index: 0;
}

#splashScreen h1{
  position: absolute;
  top: -5px;
  right: 470px;
  z-index: 1;
  color: white;
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight:700;
}

#splashScreen h2{
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 1;
  color: white;
  font-size: 11px;
  font-family: 'Ubuntu', sans-serif;
  font-weight:400;
}

#mainCanvas{
  position: absolute;
}

.app_container{
  border-radius: 15px;
}

canvas{ 
  border: 0px solid black; 
  position: fixed;
}

#top_region{
  -webkit-app-region: drag;
  height: 25px;
  width: 100%; /* Set the width of the sidebar */
  position: fixed;
  z-index: 2; /* Stay on top */
  top: 0; /* Stay at the top */

  background-color: #12141b; 
  color: white;

  text-decoration: none;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-weight:700;
  padding-bottom: 15px;
}

#x_button{
  -webkit-app-region: no-drag;
  position: fixed;
  top: 0;
  margin-top: 5px;
  right: 10px;
}

#x_button:hover{
  color: red;
}

#signgentext{
  position: fixed;
  top: 0;
  margin-top: 10px;
  left: 10px;
  font-size: 17px;
  font-family: 'Ubuntu', sans-serif;
  font-weight:700;
}

#right_menu{
  border-radius: 15px;
  height: 100%;
  width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #1c212d;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 45px;
}

#left_menu{
  border-radius: 15px;
  height: 100%;
  width: 60px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #1c212d;
  padding-top: 40px;
}


#bottom_left{
  padding-top: 260px;
}

button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #232938; 
  border: none;
  color: white;
 
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
}

.canvasZoom{
  zoom: 1.15;
}

#zmin{
  background: none;
  position: fixed;
  top: 30px;
  right: 200px;
}

#zmout{
  background: none;
  position: fixed;
  top: 65px;
  right: 200px;
}

#UpdateCanvas{
  padding: 5px 30px;
}

#UpdateCanvas:hover{
  background-color: #272e3e; 
}

#gen_button{
  font-size: 18px;
  padding: 6px 60px;
  background-color: #191c25;
}

#gen_button:hover{
  background-color: #212530;
}


.mdc-icon-button{
  background-color: #1c212d;
  margin-top: 5px;
  zoom: 1.3;
  margin-left: auto;
  margin-right: auto;
  padding: 7px 10px;
  color: rgb(86, 89, 93);
}

.mdc-icon-button:hover{
  color: rgb(255, 255, 255);
}

.mdc-icon-button:focus{
  color: rgb(255, 255, 255) !important;
}

.mdc-icon-button:visited{
  color: rgb(86, 89, 93) !important;
}



#leftbutton{

  margin-top: 0px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: block;
  font-family: 'Ubuntu', sans-serif;
}

#quick_export{
  padding-top: 0%;
  margin-top: 0%;
  padding-left: 40px;
  
}

#filetypeBtn{
  margin: none;
  margin-top: 0;
  border: none;
  float: left;
  padding-top: 0px;
}

#filetypeSelect{
  padding: 3px 60px;
  margin: none;
  margin-top: 0;
  border: none;
  float: left;
}

#menutext{
  margin-top: 30px;
  padding-left: 40px;
  font-size: 13px;
  color: #444a57;
  font-family: 'Ubuntu', sans-serif;
  font-weight:700;
}

#menutext2{
  margin-top: 10px;
  padding-left: 40px;
  font-size: 7px;
  color: #444a57;
  font-family: 'Ubuntu', sans-serif;
  font-weight:700;
}

select{
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  background-color: #232938; 
  border: none;
  color: white;
  padding: 5px 72px;
  
  
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
}

select option{
  text-align: center;
  font-size: 18px;
  background-color:#232938;
  font-family: 'Ubuntu', sans-serif;   
}



h2,h3 {
  color: white;
}

input{
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #232938; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 15px;
  padding: 5px;
  font-family: 'Ubuntu', sans-serif;
}
