body { 
  margin: 0; 
  border-radius: 5px;
  background-color: #2c2c2c;
  /* overflow: hidden; */
}

.collapsible {
  background: none;
  border-radius: 0;
  margin-top: 0;
  color: #7e7e7e;
  cursor: pointer;
  padding: 23px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  border: none;
  border-bottom: 1px solid #7e7e7e;
  position: relative; /* Add relative positioning */
}

.active, .collapsible:hover {
  background-color: rgb(63, 63, 63);
  border-bottom: none;
}

.collapsible.active + .content {
  display: block;
}

.collapsible.active{
  background: none;
}


.collapsible::after {
  content: '\203A'; /* Downward arrow character */
  font-size: 27px;
  font-weight: normal; /* Set the font weight to normal */
  position: absolute;
  top: 50%;
  right: 30px; /* Adjust the spacing as needed */
  transform: translateY(-50%) rotate(0deg); /* Initially pointing down */
  transition: transform 0.2s ease;
}

.collapsible.active::after {
  transform: translateY(-50%) rotate(90deg); /* Rotate the arrow when active */
}

.content {
  padding: 10px;
  display: none;
  overflow: hidden;
  background-color: #202020;
  border-bottom: 1px solid #7e7e7e;
  text-align: left;
  padding-left: 40px;
  /* Adjust the color and thickness as desired */
}

#right_menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#generate_menu {
  height: calc(100% - 220px); 
  overflow-y: auto;
}

.bottom_menu {
  border-top: 1px solid #7e7e7e;
}


.contextMenu {
  position: fixed;
  background-color: #353535;
  /* Additional styling */
}

#contextMenu button{
  padding: 5px;
  padding-right: 10px;
  margin: 0px;
  border-radius: 0px;
  /* Additional styling */
}

#contextMenu button:hover{
  background-color: #3d3d3d;
}

.mainCanvas {
  position: relative;
  margin-top: 14%;
  margin-left: 30%;
  display: grid;
  /*grid-template-columns: 1fr 1fr; /* This creates a two-column grid */
  grid-template-columns: min-content auto;
}

.canvas-container > canvas {
  position: relative;
  margin-top: 0 auto;
  margin-left: 0 auto;
  transform: translate(-100%, -100%); /* need to change these values (make them lower) */
}

.canvas_0 {
  position: relative;
}

#container{
  zoom: 1;
  position: relative;
  padding-top: 16%;
  padding-left: 15%
}

#splashScreen{
  position: absolute;
  background-color: #141414;
  left: 14%;
  margin-top: 0px;
  padding-bottom: 30px;
}

#splashScreen img{
  z-index: -1;
}

#splashScreen h1{
  position: absolute;
  bottom: 37px;
  right: 460px;
  z-index: 1;
  color: white;
  font-size: 33px;
  font-family: 'Ubuntu', sans-serif;
  font-weight:700;
}

#splashScreen h2{
  position: absolute;
  bottom: 33px;
  right: 525px;
  z-index: 1;
  color: rgb(109, 109, 109);
  font-size: 11px;
  font-family: 'Ubuntu', sans-serif;
  font-weight:400;
}

#splashInfo1{
  position: absolute;
  bottom: 8px;
  left: 160px;
  z-index: 1;
  color: rgb(50, 50, 50);
  font-size: 9px;
  font-family: 'Ubuntu', sans-serif;
  font-weight:400;
}

#splashInfo2{
  position: absolute;
  bottom: -2px;
  left: 200px;
  z-index: 1;
  color: rgb(50, 50, 50);
  font-size: 9px;
  font-family: 'Ubuntu', sans-serif;
  font-weight:400;
}

#splashGen1{
  background: none!important;
  border: none;
  padding: 0!important;
  font-size: 12px;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(186, 186, 186);
  text-decoration: underline;
  position: absolute;
  right: 25px;
  bottom: 70px;
  z-index: 2;
}

#splashGen2{
  background: none!important;
  border: none;
  padding: 0!important;
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  font-weight:700;
  color: rgb(186, 186, 186);
  text-decoration: underline;
  position: absolute;
  right: 25px;
  bottom: 50px;
  z-index: 2;
}

.splashbuttons:hover{
  color: rgb(0, 255, 30);
}


.app_container{
  border-radius: 15px;
}



#top_region{
  -webkit-app-region: drag;
  height: 25px;
  width: 100%; /* Set the width of the sidebar */
  position: fixed;
  z-index: 2; /* Stay on top */
  top: 0; /* Stay at the top */

  background-color: #141414; 
  color: white;

  text-decoration: none;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-weight:700;
  padding-bottom: 15px;
}

#signgentext{
  position: fixed;
  top: 0;
  margin-top: 10px;
  right: 15px;
  font-size: 17px;
  font-family: 'Ubuntu', sans-serif;
  font-weight:700;
}

#right_menu{
  border-radius: 15px;
  height: 100%;
  width: 275px; 
  position: fixed;
  z-index: 1; 
  top: 0;
  right: 0;
  background-color: #202020;
  overflow-x: hidden; 
  padding-top: 45px;
}

.button-active {
  color: white;
}

.button-inactive {
  color: rgb(86, 89, 93);
}

#left_menu{
  border-radius: 15px;
  height: 100%;
  width: 60px;
  position: fixed; 
  z-index: 1;
  top: 0; 
  left: 0;
  background-color: #222222;
  padding-top: 40px;
}

#bottom_region{
  height: 15px;
  width: 100%; 
  position: fixed;
  z-index: 2; 
  bottom: 0; 

  background-color: #141414; 
  color: rgb(85, 85, 85);

  text-decoration: none;
  text-align: center;
  font-size: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-weight:400;
  padding-bottom: 15px;
}


#bottom_left{
  padding-top: 240px;
}

button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #353535; 
  border: none;
  color: white;
 
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 8px;
}

.canvasZoom{
  zoom: 1.15;
}

#zmin{
  background: none;
  position: fixed;
  top: 30px;
  right: 190px;
}

#zmout{
  background: none;
  position: fixed;
  top: 65px;
  right: 190px;
}

#UpdateCanvas{
  padding: 5px 30px;
}

#UpdateCanvas:hover{
  background-color: #3a3a3a; 
}

.modify_bottom{
  width: 100%;
  position: absolute;
  bottom: 90px;
  border-top: 1px solid #7e7e7e;
}

#mod_button{
  bottom: 50px;
  font-size: 18px;
  padding: 6px 85px;
  background-color: #292929;
}

#gen_button, #signNum{
  font-size: 18px;
  padding: 6px 77px;
  background-color: #292929;
}

#gen_button:hover, #mod_button:hover{
  background-color: #313131;
}


.mdc-icon-button{
  background-color: #222222;
  margin-top: 5px;
  zoom: 1.3;
  margin-left: auto;
  margin-right: auto;
  padding: 7px 10px;
  color: rgb(86, 89, 93);
}

.downBtn{
  background: none;
  zoom: 1;
}


.mdc-icon-button:hover{
  color: rgb(255, 255, 255);
}


.mdc-icon-button:visited{
  color: rgb(86, 89, 93) !important;
}


#leftbutton{

  margin-top: 0px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: block;
  font-family: 'Ubuntu', sans-serif;
}

#quick_export{
  padding-top: 0%;
  margin-top: 0%;
  padding-left: 20px;
  
}

#filetypeBtn{
  margin-left: 10px;
  margin-top: 0;
  border: none;
  float: left;
  padding-top: 0px;
}

#filetypeSelect{
  padding: 3px 60px;
  margin: none;
  margin-top: 0;
  border: none;
  float: left;
}

#menutext{
  padding-left: 20px;
  font-size: 14px;
  color: #7e7e7e;
  font-family: 'Ubuntu', sans-serif;
  font-weight:700;
}


select{
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 10px;
  background-color: #303030; 
  border: none;
  color: white;
  padding: 5px 63px;
  border-radius: 8px;
  
  
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 13px;
  font-family: 'Ubuntu', sans-serif;
}

select option{
  text-align: center;
  font-size: 13px;
  background-color:#303030;
  font-family: 'Ubuntu', sans-serif;   
}

h2,h3 {
  color: white;
}

input{
  margin-top: 0px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #303030; 
  border: none;
  color: white;
  text-align: center;
  margin-right: auto;
  text-decoration: none;
  font-size: 13px;
  padding: 5px;
  font-family: 'Ubuntu', sans-serif;
}

#textDiv > input{
  display: block;
}

#whDiv > input{
  display: block;
}

#whDiv{
  text-align: center;
  justify-content: center;
}

#wh{
  max-width: 200px;
  display: flex;
}

#wh > input{
  max-width: 80px;
}

.canvaswidth{
  float: left;
}

#colorDiv{
  margin-top: -10px;
}

#colorDiv > input{
  max-width: 140px;
}

#colorPicker{
  background: none;
  height: 33px;
  margin: 0px;
}

#symbolInput{
  text-align:center;
}

#toggletext{
  font-size: 13px;
  color: #575757;
  font-family: 'Ubuntu', sans-serif;
}

#toggleLogo{
  margin-left: 10px;
}

/* The Modal (background) */
.modal {
  
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* overflow: auto;  Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  border-radius: 15px;
  background-color: #3d3d3d;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  /* border: 1px solid #888; */
  width: 80%; /* Could be more or less, depending on screen size */
  font-family: 'Ubuntu', sans-serif;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#KeyboardShortcuts {
  font-family: 'Ubuntu', sans-serif;
}